<h1>
    <% for(var i=0;i<quizzes.length;i++){   %>

    <li>

           Pregunta número <%=i%> <%=quizzes[i].question %> : <%=quizzes[i].answer%>

    </li>
    <% } %>
</h1>

<footer>

    <a href="/">Home</a>
    <a href="credits">credits</a>
    <a href="quizzes">quizzes</a>

</footer>